.gradle/
build/
local.properties

*/build/

.android/
.android-sdk/
.gradle-user-home/
.local-tools/
.tmp/
tmp/

*.apk
*.ap_
*.aab
*.dex
*.class
*.zip
*.tar
*.tar.gz
*.tgz
*.log

.idea/
*.iml

.DS_Store

artifacts/
captures/
reports/
scripts/adb-*/
